<!DOCTYPE html>
<html>
<head>
	<title>AngularFire</title>
</head>
<!-- Definimos el nombre de la aplicación Angular -->
<body ng-app="chat-con-angular-fire">
	
	<div ng-controller="controlador_Principal as principal">
		
		<!-- Nombre del remitente -->
		<label for="miNombre">Enviar mensaje identificado como: </label>
		<input type="text" id="miNombre" ng-model="principal.miNombre">



		<!-- Lista de mensajes -->
		<ul ng-repeat="mensaje in principal.mensajes">
			<li>
				<div>
					{{mensaje.remitente}}: {{mensaje.texto}}
				</div>
			</li>
		</ul>

		<hr>
		


		<!-- Formulario de envío -->
		<form ng-submit="principal.enviar()">
			<label for="mensajeNuevo">Nuevo mensaje: </label>
			<input type="text" id="mensajeNuevo" ng-model="principal.mensajeNuevo">
			<button>Enviar</button>
		</form>




	</div>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>	
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

	<!-- Módulo de la aplicación Angular -->
	<script src="./app/app_modulo.js"></script>

	<script src="./app/app_controlador_Principal.js"></script>

</body>
</html>